.calendarPopUp-wrapper{
    width:100vw;
    height:100vh;
    background:var(--background-light-blue-op);
    position:fixed;
    top:0;
    left:0;
    z-index:80;

}


.calendarPopupBox{
    
    width: 400px;
    box-sizing: border-box;
    padding: 18px;
    background-color: var(--panel-light);
    border: 3px solid var(--background-main);
    border-radius: 6px;
    position: relative;
}

.calendarPopupBox>a{
    width:100%;
    margin:10px auto;
    display: block;
    font-size:18px;
}

.calendarPopupBox--top{
    top:-40px;
}

.calendarPopupBox--bottom{
    bottom:-40px;
}

.activityPopup-delete{
    color:red
}

a.fc-event:hover{
    opacity:1;
}


.calendarPopupBox-title{
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    margin-bottom:10px;
    gap:10px
}

.fc .fc-scroller-liquid-absolute{
    /* display: none */
}

.fc-theme-standard .fc-popover{
    background:var(--panel-light);
}

.fc-daygrid-event-harness{
    margin-bottom:4px;
    cursor:pointer;
}


