:root{
    --border-blue: 0px 0px 2px 2px #446088;
}

.profile-portrait{
    width:200px;
    height: 200px;
    border: 5px solid var(--backgound-main);
    position: relative;
    top: -125px;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
}

.profile-image-holder{
    width:100%;
    height: 100%;
    position: relative;

}


.profile-image-edit{
    width: 100%;
    height: 100%;
    background-color: #0000008c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  30px;
    position: absolute;
    left:0;
    top:0;
    display: none;
}



.input-image-holder{
    width:300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border:4px solid var(--background-main);
    margin:20px auto;
}

.input-image-holder img{
    width:100%;
    height: 100%;
    object-fit: cover;
}








.profile-image-holder:hover .profile-image-edit{
    display: flex;
}

.profile-image-holder.userIcon--letters{
    font-size:100px;
    font-weight: 700;
    background-color: var(--background-light-blue);
    color:#fff;
    font-family: var(--font-header);
}

.profile-section-50{
    max-width:48%;
    width:100%;
    background-color: #44608842;
    padding: 15px;
    box-sizing: border-box;
    border-radius:5px;
    box-shadow: var(--border-blue);
}

.profile-section-title{
    font-size:24px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--panel-dark) ;
    width:100%;
    color:#fff;
}

.profile-portrait-row{
    height: 100px;
}

.profile-info-row{

}

.element-row{}

.profile-section-content p{
    font-size: 20px;
    letter-spacing: 2px;
}

.profile-section-content .key{
    /* text-decoration: underline; */
    color:var(--backgound-main);

}


.element-title{
    font-size:23px;
    top: -50px;
    color:#fff;
}

.profile-no-team {
    height: 100%;
    width:100%;
    max-height: 90%;
}


.profile-stat-row{
    gap: 15px;
}


.profile-stat-el {
    background-color: #44608842;
    box-shadow: var(--border-blue);

    flex:0 1 33%;
    padding: 30px 20px 20px;
    position: relative;
    /* height: 20px; */
}

.stat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:50px;
    border-radius: 50%;
    position: absolute;
    left:50%;
    top:0;
    background-color: var(--backgound-main);
    transform: translate(-50%,-50%);
    box-shadow: var(--border-blue);
}

.stat-icon img{
    max-width:100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.stat-el-title, .stat-el-desc{
    /* color:var(--backgound-main); */
    color:#fff;
    text-align: center;
    margin:10px auto;
    box-sizing: border-box;
    width:100%;
    /* padding:0 20px; */
    font-size: 20px;
    line-height: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    justify-content: center;
}

.stat-el-desc{
    font-size: 18px;
}

.stat-el-value{
    min-width:70px;
    max-width:100px;
    width:min-content;
    padding:0 5px;
    height: 70px;
    color:#000;
    font-weight: 600;
    font-size:40px;
    border-radius:10%;
    margin:25px auto;
    background-color: var(--backgound-main);
    box-shadow: 0px 0px 4px 2px var(--panel-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}
.stat-el-value.small-value{
    font-size:20px;
    line-height: 23px;
    text-align: center;
}

.stat-el-value.med-value{
    font-size:28px;
    line-height: 28px;
    text-align: center;
}


.stat-el-value img{
    width:30px;
    height: 30px;
}

.stat-el-desc span {
    display: contents;
    font-size: 26px;
    /* text-decoration: underline; */
    font-weight: bold;
}

.stat-el-desc span.above{
    color:#2aae02
}
.stat-el-desc span.average{
    color:#cfb326
}
.stat-el-desc span.below{
    color:rgb(255 58 58);
}


.stat-row-title{
    font-size:24px;
    letter-spacing: 2px;
    /* color:#fff; */
    color:var(--backgound-main);
    /* height: 30px; */
    padding-bottom: 20px;
    border-bottom: 3px solid var(--backgound-main);
    /* border-bottom: 2px solid white; */
    margin-top:40px;
}


.stat-row-title b{
    color:#fff;
    font-size:25px;
}


/* footwear */


.footwear-full-wrapper {
    display: flex;
    /* gap: 20px; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.footwear-box{
    /* background-color: #44608842; */
    background-color: var(--panel-light);
    padding: 15px;
    padding-top:34px;
    box-sizing: border-box;
    border-radius: 5px;
    /* box-shadow: var(--border-blue); */
    /* height: 20px; */
    width: calc(50% - 10px);
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 2px #49391d;
    position: relative;
}

.footwear-img{
    width:160px;
    height: 160px;
    margin: 20px auto;
    border-radius: 50%;
    /* margin-right: 16px; */
    /* border:5px solid var(--border-color-main); */
    border:5px solid #f59e0b;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.footwear-img img{
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}

.footware-name{
    font-size:25px;
    height: 28px;
    overflow: hidden;
    margin-bottom: 20px;
}


.footwear-info-wrapp{
    width:100%;
    margin-left:40px;
    height: 100%;
}

.footwear-options{
    height: 30px;
}
.footwear-options{
    position: absolute;
    top: 10px;
    right: 10px;
}

.footwear-info{
    background-color: #44608842;
    box-shadow: var(--border-blue);
    padding:16px;
    height: 100%;
    margin-top:20px;
    width:100%;
    font-size: 16px;
    letter-spacing: 2px;
}

.footware-option-el span{
    font-size:22px;
    /*  #fff; */
    width: 30px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 3px;
    box-sizing: border-box;
}

.footware-option-el span:hover{
    border: 2px solid #f59e0b;
}

.footware-option-el{
    margin: 0 4px
}

.footwear-info .key {
    color: #f59e0b
}



.challenge-title{
    width:80%;
    margin:0 auto;
    font-size:32px;
    color:#fff;
    font-family: var(--font-header);
    padding:30px 0;
    border-bottom: 2px solid var(--border-color-light);
    text-align: center;
    position: relative;
}
.challenge-title:after {
    position: absolute;
    bottom: -1px;
    left:0;
    /* transform: translateX(-50%); */
    content: "";
    width: 100%;
    height: 2px;
    z-index: 20;
    background: linear-gradient(90deg, rgba(0,0,0,0) 10%, rgb(235, 125, 22) 50%, rgba(0,0,0,0) 90%);
}

.challenge-empty{
    text-align:center;
    font-size:22px;
}

.challenge-add{
    padding:10px;
    border-radius: 10px;
    background-color: var(--background-main);
    color:white;
    font-size:20px;

    text-transform: uppercase;
    border:1px solid #222;
    /* box-shadow: 0px 0px 1px 1px #ccc; */
}

.challenge-add span{
    position: relative;
    /* bottom: 1px; */
    margin-left: 8px;
    font-size:30px;
}

.challenge-box{
    box-shadow: 0px 0px 2px 2px #49391d;
    color:#fff;
    /* padding-bottom: 20px; */
    position: relative;
    margin-bottom: 32px;
}

.challenge-box.challenge-expired-1{
    filter: grayscale(.4);
}

.challenge-box-check{
    position: absolute;
    right: 20px;
    top: 5px;
    opacity: .2;
    font-size:120px;
    color:var(--background-main)
}

.challenge-box-check span.icon-red{
    color: rgb(218, 37, 37);
}
.challenge-box-check span{
    color:#2aae02;
}

.challenge-box-icon{
    width:90px;
    height: 90px;
    border:4px solid var(--background-main);
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:70px;

}

.challenge-name-wrapp{
    padding-right: 50px;
}

.challenge-name{

    font-size: 28px;
}
.challenge-type{
    color:#ccc;
    font-size:20px;
    margin-top:4px;
    /* text-decoration: underline; */
}

.challenge-box-info {
    font-size:20px;
}

.challenge-box-info progress[value]{
    width:100%;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    border: 0;
    width: 100%;
    height: 14px;
    /* max-width: 264px; */
    border-radius: 14px;
    margin-top: 7px;
    vertical-align: 0;
    margin: auto;
    margin-top: 7px;
    display: block;
    margin-bottom: 5px;
}

.challenge-box-info .progress-red progress[value]::-webkit-progress-value{
    background-color: rgb(218, 37, 37);
}
.challenge-box-info progress[value]::-webkit-progress-value{
    background-color: greenyellow;
    border-radius: 4px;
}

.progress-wrapp{
    width:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.challengebox-desc {
    /* box-shadow: var(--border-blue); */
    border-left: 2px solid var(--background-main)
}

.challenge-box-info b{
    color:var(--background-main);
    font-size:24px;
}

.challenge-box-options{
    gap:10px;
}

.challenge-box-options a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:28px;
    color:#fff;
    width:35px;
    height: 35px;
    background-color: var(--background-main);
    border-radius: 10px;
}



/* summary */

.stat-break{
    width:100%;
    height: 1px;
    background-color: var(--border-color-light);
    margin:60px auto;
    position: relative;
}

.stat-break:after {
    position: absolute;
    bottom: -2px;
    content: "";
    width: 100%;
    height: 3px;
    z-index: 20;
    background: linear-gradient(90deg, rgba(0,0,0,0) 10%, rgb(235, 125, 22) 50%, rgba(0,0,0,0) 90%);
}


.ac_types_wrapper{
    gap: 20px;
    pointer-events: none;

}

.types_summary{
    border-radius:8px;
}

.ac_type_box{
    flex: 1 0 200px;
    border-radius:16px;
    transition:.3s;
    pointer-events: auto;

}

.ac_types_wrapper:hover > * {
    opacity:0.5;
}
.ac_types_wrapper:hover  > *:hover {
    transform: scale(1.1);
    opacity: 1;
}



.ac_type_icon{
    width:100px;
    height: 100px;
    margin: 18px auto;
    border:5px solid var(--background-main);
    border-radius: 16px;
    background-color: var(--background-light-blue);
}


.ac_type_icon span{
    font-size:70px;
    color: white;
    /* font-weight: 900; */
}

.ac_type_icon.large{
    width:220px;
    height: 220px;
}

.ac_type_icon.large span{
    font-size:180px;
}

.ac_name{
    /* color:white; */
    font-size:20px;
    width:100%;
    text-align: center;
}

.ac_type_button{
    background-color: var(--background-main);
    padding:10px;
    width:200px;
    color:white;
    text-transform: uppercase;
    border-radius:5px;
    display: block;
    text-align: center;
    margin:12px auto 12px;
    font-size: 18px;
    font-weight: 700;
}

.ac_info span{
    color:#fff;
    font-size:20px;
}

.generic-wrapp{
    border-radius: 8px;
}

.generic-title{
    margin-top:10px;
    font-size: 27px;
    width: 100%;
    color:#fff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.generic-el{
    display: flex;
    flex-direction: column;
    padding:10px;
    flex: 1 0 200px;
    /* border-right:3px solid #CCC; */
    border-right:3px solid var(--panel-dark);
    justify-content: stretch;
    align-items: center;

}

.generic-el:last-of-type {
    border-right: none;
}

.generic-value{
    font-size:40px;
    height: 50px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid var(--panel-dark); */
    color:var(--background-main)

}
.generic-value.small{
    font-size:26px;
}

.generic-txt{
    text-align: center;
    width:100%;
    font-size:20px;
    margin-top: 10px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 10px;
    line-height: 30px;
}

.generic-txt.small{
    font-size:17px;
    line-height: 26px;
}


.chart-container{
    height: 400px;
    position: relative;
}

.chart-title{
    font-size:20px;
}

.generic-chart-config{
    /* width:250px; */
    font-size:30px;
    color: var(--background-main);
    font-weight: 900;
    position: relative;
}

/* .generic-chart-config input{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 00px;
    border:2px solid var(--panel-dark);
    border-radius: 16px;
    outline: none;
} */

.date-info-open{
    /* width:100%; */
    padding:12px;
    height: 40px;
    border-bottom:3px solid  #CCC;
    color:#fff;
    margin-bottom: 10px;
    /* border-radius:8px; */
    font-size:18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    font-weight: 400;
    position: relative;
}

.date-info-open span{
    font-size:24px;
    margin-left: 8px;
    position: relative;
    top: -2px;
}

.generic-chart-config label{

}

.date-config-popup>div:not(:last-of-type){
    border-bottom: 2px solid var(--background-main);
}
.date-config-popup{
    display: none;
    position: absolute;
    right:0;
    top:40px;
    background-color:var(--panel-dark);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 10;
    padding:10px;
    border-radius: 3px;
}

.date-info-open:hover .date-config-popup{
    display: flex;
}

#generic-apply:hover{
    color:var(--background-main)
}

#generic-apply{
    margin-top: 12px;
}

#generic-apply span{
    margin-right: 4px;
}

.date-config-popup label .material-icon {
    position: relative;
    top: 5px;
    margin-right: 10px;
    color:var(--background-main)
}

.date-config-popup label {
    width:100%;
    height: 40px;
    font-size:28px;
    margin-bottom: 5px;

}

.date-config-popup input{
    color:#fff;
    height: 38px;
    width:80px;
    outline: 0;
    border: 0;
    padding: 5px;
    font-size:18px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .date-config-popup input:focus-visible{
    width: 100%;
    height: 300px;
    position: absolute;
    top:40px;

} */

.ac-stat{
    margin-bottom: 48px;
}

.ac-row-title {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--border-color-light) ;
    color:#fff;
}


.ac-row-name{
    font-size:23px;
}

.ac-row-icon{
    width:50px;
    height: 50px;
    font-size:35px;
    border: 2px solid var(--background-main);
    border-radius: 16px;
}

.ac-stat-row{
    padding:0 10px;
    margin:20px 0;
    /* color:var(--background-main) */
}

.ac-stat-row> div{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.ac-stat-name{
    min-width: fit-content;
    margin-right: 8px;
    font-size:18px;
}

.ac-stat-line{
    width:100%;
    border-bottom: 4px dotted var(--border-color-light);
    position: relative;
    bottom: 6px;
}

.ac-stat-value{
    min-width: fit-content;
    margin-left: 8px;
    font-size:20px;
    color:var(--background-main)
}


.year-summary-wrapp {
    background-color: #44608842;
    border-radius: 8px;
    position: relative;
}

.year-summary-year{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size:120px;
    color:var(--background-main);
    opacity: .3;
    font-weight: 900;
    letter-spacing: 5px;
}
.year-summary-wrapp .element-title{
    font-size: 20px;
}

.year-slider-arrows{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size:45px;
    margin-bottom: 10px;
    gap:20px;

}

.year-slider-arrows span{
    cursor: pointer;
    color:var(--background-main);

}



.footwer-ranking{
    gap:10%;
}


.footwear-podium{
    width:150px;
}

.footwear-box-holder{
    /* width:20%; */
    background-color: #44608842;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid var(--background-main);
}

.footwear-first .footwear-box-holder{
    height: 300px;
}

.footwear-second .footwear-box-holder{
    height: 200px;
}

.footwear-third .footwear-box-holder{
    height: 100px;
}


/* friends */

.friends-search-bar{
    background-color: #44608842;
    border-radius: 8px;
    background-color: #44608842;
    /* margin-bottom: 15px; */
    padding: 25px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.friends-search-bar input {
    height: 35px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    background-color: var(--input-bgcolor-light);
    border: 1px solid var(--input-border-color-light);
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
}

.f-options{
    gap:8px;
}



.friends-search-content.active{
    min-height: 150px;
    margin:20px auto;
    width:100%;
    padding:20px;
    border-radius:8px;
    background-color:#44608842;
}







@media(max-width:1150px){
    .ac_type_box{
        flex-basis: 40%;
    }
    .profile-section-content p{
        font-size: 15px;
    letter-spacing: 1.8px;
    margin: 10px 0;
    }

    .challenge-box-icon {
        width: 60px;
        height: 60px;
        font-size:35px;
    }

    .challenge-name{
        font-size:18px;
    }
    .challenge-type{
        font-size:15px
    }
    .challenge-box-check{
        font-size:65px;
    }
    .year-summary-wrapp .element-title{
        font-size:15px;
    }

    .generic-txt{
        font-size:16px;
        line-height: 20px;
    }
    .generic-el{
        flex-basis:48%;
        border:unset !important;
    }
    .generic-el-wrapper{
        flex-wrap: wrap;
        gap:20px;
    }
}


@media (max-width:900px){

    .ac_type_icon.large{
        width:120px;
        height: 120px;
    }
    .w-50.expand-mobile{
        width:80%;
    }
    .ac_type_icon.large span{
        font-size:70px;
    }
    .chart-title{
        font-size:16px;
    }
    .chart-container canvas{
        width:1000px !important;

        height: 400px !important;
    }
    .chart-container{
        overflow-x: scroll;
        padding-bottom: 20px;
    }

    .challenge-box-info b{
        font-size:18px;
    }
    .challenge-box-info{
        font-size:15px;
    }
    .generic-title{
        font-size: 18px;
    }
    .year-summary-year{
        font-size:60px;
    }
    .year-summary-wrapp .w-50{
        width:65%;
    }
}



@media (max-width:700px){
    .ac-row-name{
        font-size:18px;
    }
    .ac-stat-name, .ac-stat-value{
        font-size: 15px;
    }
    .ac-stat-row{
        padding-left:0;
        margin:10px auto
    }
    .ac_type_box{
        flex-basis: 90%;
    }
    .challenge-box-body{
        flex-direction: column;

    }
    .challengebox-desc {
        /* box-shadow: var(--border-blue); */
        border-top: 2px solid var(--background-main);
        border-left:unset;
    }

    .challenge-box-top {
        flex-direction: column;
        align-items: flex-start;
        gap:10px;
    }
    .challenge-name-wrapp{
        margin-left: 0 !important;
    }
    .challenge-box-info, .challengebox-desc{
        padding:10px 0 !important;
    }
    .challenge-box-bottom{
        flex-direction: column;
        align-items: flex-start;
        gap:10px;
        padding:0;
    }

    .challenge-add{
        font-size:16px;
        padding:8px;
    }
    .challenge-title{
        font-size:18px;
    }

    .year-summary-wrapp .w-50{
        margin-top:60px;
        width:100%;
    }
}


@media (max-width:650px){
    .generic-main-type{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap:5px
    }
    .generic-main-type .w-50{
        width: 100%;
    }
}

@media (max-width:420px){
    .ac-row-name{
        font-size:14px;
    }
    .ac-stat-name, .ac-stat-value{
        font-size: 13px;
    }
}
